*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url('../../Backend/img/fondo2.jpg');
    width: auto;
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.colorear1{
    background-color: rgb(65, 65, 65);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.colorear2{
    background: url('../../Backend/img/ferrari.jpg');
    background-position: center;
    background-size: cover;
}

.colorear3{
  background: url('../../Backend/img/fondo3.jpg');
  background-position: center;
  background-size: cover;
}

.registro{
  color: rgb(255, 185, 93);
  text-decoration: none;
}

.registro:hover{
  color: rgb(255, 156, 25);
}

.espaciado{
    padding-top: 12%;
}

.titulo{
    color: rgb(255, 185, 93);
}

.texto{
    color: rgb(216, 216, 216);
}

.centrado{
    text-align: center;
}

.iconos{
  visibility: hidden;
  color: rgb(255, 93, 93);
}

.mensajeC{
  visibility: hidden;
  color: rgb(252, 251, 195);
}

.validado{
  visibility: hidden;
  color: rgb(158, 255, 93);
}

.error{
  visibility: visible;
}

.inputs{
    background-color: rgb(216, 216, 216);
    border-color: rgb(63, 63, 63);
}

.logo{
    width: 19%;
    height: 19%;
    float: right;
}

.invisible{
  visibility: hidden;
  position: absolute;
}

.sk-cube-grid {
  width: 20px;
  height: 20px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: rgb(255, 185, 93);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

.alerta{
  position: fixed;
  right: 0%;
  bottom: 0%;
  visibility: hidden;
}

.alertaError{
  visibility: visible;
}

.boton{
  height: 40px;
}

.fotoPerfil{
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border-style: inset;
  border-color: rgb(216, 216, 216);
}

.fotoPerfil2{
  width: 90%;
  height: 90%;
  border-radius: 3%;
}

.derecha{
  text-align: right;
}